<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.springtest.mapper.TbItemCarExtendMapper" >

    <insert id="addCar" parameterType="com.cj.springtest.model.TbItemCar">
        insert into tb_item_car (car_id, title, price)
        values (#{carId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{price,jdbcType=BIGINT})
    </insert>
    <select id="carDet" resultType="com.cj.springtest.model.TbItemCar">
        select car_id, title, price,status,sort_order from tb_item_car
    </select>

    <delete id="delCar" parameterType="java.lang.String" >
        delete from tb_item_car where title= #{title}
    </delete>

    <select id="selItemQtyCar" resultType="com.cj.springtest.model.TbItemCar"  parameterType="java.lang.String" >
        select  *  from tb_item_car where title= #{title}
    </select>

    <update id="updatItemQtyCar"  parameterType="com.cj.springtest.model.TbItemCar">
        update tb_item_car set sort_order=#{sortOrder} where title=#{title}
    </update>
</mapper>